[submodule "src/Meningioma/external/nnUNet/nnUNet"]
	path = src/Meningioma/external/nnUNet/nnUNet
	url = https://github.com/MarioPasc/nnUNet
[submodule "src/Meningioma/external/external/neurite"]
	path = src/Meningioma/external/external/neurite
	url = https://github.com/adalca/neurite.git
[submodule "src/Meningioma/external/external/surfa"]
	path = src/Meningioma/external/external/surfa
	url = https://github.com/freesurfer/surfa.git
[submodule "src/Meningioma/external/external/voxelmorph"]
	path = src/Meningioma/external/external/voxelmorph
	url = https://github.com/voxelmorph/voxelmorph.git
